<div class="form-group">
  <label for="location">Range of Bullder</label>
  <div class="form-control" style="height: auto;">
    <div class="text-center">
      <img ng-src="{{ showImage }}"> <br/>
      <!-- 0.1, 0.25, 0.5, 1, 3, 10 -->
      <input ng-model="distance" id="dataSlider" data-slider-id="dataSlider1" type="text" data-slider-min="0.1" data-slider-max="10" data-slider-step=".1" data-slider-value="2"/>
      <script>
        $('#dataSlider').slider({
	  scale: 'logarithmic',
	  formatter: function(value) {
	    return 'Distance: ' + value + ' miles';
	  }
        });
      </script>
    </div>
  </div>
</div>
