<div ng-if="data">
  <bullder-viewer votefunc="vote" data="data"></bullder-viewer>

  <div ng-repeat="comment in data.comments" class="well">
    <p>
      {{ comment.text }}
      <span ng-if="comment.name" class="text-muted">- {{ comment.name }}</span>
    </p>
    <p class="text-muted" style="margin: 0; padding: 0;">
      <small>{{ displayDate(comment.time) }}</small>
      <span ng-if="comment.op" class="label label-primary">OP</span>
    </p>
  </div>

  <div>
    <form>
      <div class="form-group">
        <input ng-model="$parent.newComment.name" type="text" placeholder="Name (Optional)" class="form-control">
      </div>
      <div class="form-group">
        <textarea ng-model="$parent.newComment.text" class="form-control"></textarea>
      </div>
      <button ng-click="postComment()" type="button" class="btn btn-primary btn-sm">Post Comment</button>
    </form>
    <br/>
  </div>
</div>
<div class="text-center" ng-if="data == false">
  <h2>Uh oh! Couldn't find that Bullder for you.</h2>
</div>

<bullder-loading ng-if="data == undefined"></bullder-loading>
